.DS_Store
.idea
log
models
README-prev.md
eval_results/
temp2.py
*.onnx

# Pytorch Models
*.pth
checkpoint/
jsons/

# images
*.jpg
*.png

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# tensorboard
runs/
runs*/